In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
data_files = [
    "ap_2010.csv",
    "class_size.csv",
    "demographics.csv",
    "graduation.csv",
    "hs_directory.csv",
    "sat_results.csv"
]

In [3]:
data = {}

for f in data_files:
    d = pd.read_csv("schools/{0}".format(f))
    key_name = f.replace(".csv","")
    data[key_name] = d

In [4]:
print(data["sat_results"].head())

      DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                     EAST SIDE COMMUNITY SCHOOL
3  01M458                      FORSYTH SATELLITE ACADEMY
4  01M509                        MARTA VALLE HIGH SCHOOL

  Num of SAT Test Takers SAT Critical Reading Avg. Score SAT Math Avg. Score  \
0                     29                             355                 404
1                     91                             383                 423
2                     70                             377                 402
3                      7                             414                 401
4                     44                             390                 433

  SAT Writing Avg. Score
0                    363
1                    366
2                    370
3                    359
4                    384

In [5]:
for x in data:
    print(data[x].head())

      DBN                             SchoolName  AP Test Takers   \
0  01M448           UNIVERSITY NEIGHBORHOOD H.S.             39.0
1  01M450                 EAST SIDE COMMUNITY HS             19.0
2  01M515                    LOWER EASTSIDE PREP             24.0
3  01M539         NEW EXPLORATIONS SCI,TECH,MATH            255.0
4  02M296  High School of Hospitality Management              NaN

   Total Exams Taken  Number of Exams with scores 3 4 or 5
0               49.0                                  10.0
1               21.0                                   NaN
2               26.0                                  24.0
3              377.0                                 191.0
4                NaN                                   NaN
   CSD BOROUGH SCHOOL CODE                SCHOOL NAME GRADE  PROGRAM TYPE  \
0    1       M        M015  P.S. 015 Roberto Clemente     0K       GEN ED
1    1       M        M015  P.S. 015 Roberto Clemente     0K          CTT
2    1       M        M015  P.S. 015 Roberto Clemente     01       GEN ED
3    1       M        M015  P.S. 015 Roberto Clemente     01          CTT
4    1       M        M015  P.S. 015 Roberto Clemente     02       GEN ED

  CORE SUBJECT (MS CORE and 9-12 ONLY) CORE COURSE (MS CORE and 9-12 ONLY)  \
0                                    -                                   -
1                                    -                                   -
2                                    -                                   -
3                                    -                                   -
4                                    -                                   -

  SERVICE CATEGORY(K-9* ONLY)  NUMBER OF STUDENTS / SEATS FILLED  \
0                           -                               19.0
1                           -                               21.0
2                           -                               17.0
3                           -                               17.0
4                           -                               15.0

   NUMBER OF SECTIONS  AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  \
0                 1.0                19.0                    19.0
1                 1.0                21.0                    21.0
2                 1.0                17.0                    17.0
3                 1.0                17.0                    17.0
4                 1.0                15.0                    15.0

   SIZE OF LARGEST CLASS DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO
0                   19.0         ATS                             NaN
1                   21.0         ATS                             NaN
2                   17.0         ATS                             NaN
3                   17.0         ATS                             NaN
4                   15.0         ATS                             NaN
      DBN                       Name  schoolyear fl_percent  frl_percent  \
0  01M015  P.S. 015 ROBERTO CLEMENTE    20052006       89.4          NaN
1  01M015  P.S. 015 ROBERTO CLEMENTE    20062007       89.4          NaN
2  01M015  P.S. 015 ROBERTO CLEMENTE    20072008       89.4          NaN
3  01M015  P.S. 015 ROBERTO CLEMENTE    20082009       89.4          NaN
4  01M015  P.S. 015 ROBERTO CLEMENTE    20092010                    96.5

   total_enrollment prek   k grade1 grade2  ... black_num black_per  \
0               281   15  36     40     33  ...        74      26.3
1               243   15  29     39     38  ...        68      28.0
2               261   18  43     39     36  ...        77      29.5
3               252   17  37     44     32  ...        75      29.8
4               208   16  40     28     32  ...        67      32.2

  hispanic_num hispanic_per white_num white_per male_num male_per female_num  \
0          189         67.3         5       1.8    158.0     56.2      123.0
1          153         63.0         4       1.6    140.0     57.6      103.0
2          157         60.2         7       2.7    143.0     54.8      118.0
3          149         59.1         7       2.8    149.0     59.1      103.0
4          118         56.7         6       2.9    124.0     59.6       84.0

  female_per
0       43.8
1       42.4
2       45.2
3       40.9
4       40.4

[5 rows x 38 columns]
    Demographic     DBN                            School Name    Cohort  \
0  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2003
1  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2004
2  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2005
3  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2006
4  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL  2006 Aug

   Total Cohort Total Grads - n  Total Grads - % of cohort Total Regents - n  \
0             5               s                        NaN                 s
1            55              37                       67.3                17
2            64              43                       67.2                27
3            78              43                       55.1                36
4            78              44                       56.4                37

   Total Regents - % of cohort  Total Regents - % of grads  ...  \
0                          NaN                         NaN  ...
1                         30.9                        45.9  ...
2                         42.2                        62.8  ...
3                         46.2                        83.7  ...
4                         47.4                        84.1  ...

  Regents w/o Advanced - n  Regents w/o Advanced - % of cohort  \
0                        s                                 NaN
1                       17                                30.9
2                       27                                42.2
3                       36                                46.2
4                       37                                47.4

   Regents w/o Advanced - % of grads Local - n  Local - % of cohort  \
0                                NaN         s                  NaN
1                               45.9        20                 36.4
2                               62.8        16                 25.0
3                               83.7         7                  9.0
4                               84.1         7                  9.0

   Local - % of grads Still Enrolled - n  Still Enrolled - % of cohort  \
0                 NaN                  s                           NaN
1                54.1                 15                          27.3
2                37.2                  9                          14.1
3                16.3                 16                          20.5
4                15.9                 15                          19.2

   Dropped Out - n Dropped Out - % of cohort
0                s                       NaN
1                3                       5.5
2                9                      14.1
3               11                      14.1
4               11                      14.1

[5 rows x 23 columns]
      dbn                                        school_name    borough  \
0  27Q260          Frederick Douglass Academy VI High School     Queens
1  21K559        Life Academy High School for Film and Music   Brooklyn
2  16K393     Frederick Douglass Academy IV Secondary School   Brooklyn
3  08X305                               Pablo Neruda Academy      Bronx
4  03M485  Fiorello H. LaGuardia High School of Music & A...  Manhattan

  building_code  phone_number    fax_number  grade_span_min  grade_span_max  \
0          Q465  718-471-2154  718-471-2890             9.0              12
1          K400  718-333-7750  718-333-7775             9.0              12
2          K026  718-574-2820  718-574-2821             9.0              12
3          X450  718-824-1682  718-824-1663             9.0              12
4          M485  212-496-0700  212-724-5748             9.0              12

   expgrade_span_min  expgrade_span_max  ... priority08 priority09 priority10  \
0                NaN                NaN  ...        NaN        NaN        NaN
1                NaN                NaN  ...        NaN        NaN        NaN
2                NaN                NaN  ...        NaN        NaN        NaN
3                NaN                NaN  ...        NaN        NaN        NaN
4                NaN                NaN  ...        NaN        NaN        NaN

                                          Location 1 Community Board  \
0  8 21 Bay 25 Street\nFar Rockaway, NY 11691\n(4...            14.0
1  2630 Benson Avenue\nBrooklyn, NY 11214\n(40.59...            13.0
2  1014 Lafayette Avenue\nBrooklyn, NY 11221\n(40...             3.0
3  1980 Lafayette Avenue\nBronx, NY 10473\n(40.82...             9.0
4  100 Amsterdam Avenue\nNew York, NY 10023\n(40....             7.0

   Council District Census Tract        BIN           BBL  \
0              31.0     100802.0  4300730.0  4.157360e+09
1              47.0        306.0  3186454.0  3.068830e+09
2              36.0        291.0  3393805.0  3.016160e+09
3              18.0         16.0  2022205.0  2.036040e+09
4               6.0        151.0  1030341.0  1.011560e+09

                                                 NTA
0  Far Rockaway-Bayswater                        ...
1  Gravesend                                     ...
2  Stuyvesant Heights                            ...
3  Soundview-Castle Hill-Clason Point-Harding Par...
4  Lincoln Square                                ...

[5 rows x 64 columns]
      DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                     EAST SIDE COMMUNITY SCHOOL
3  01M458                      FORSYTH SATELLITE ACADEMY
4  01M509                        MARTA VALLE HIGH SCHOOL

  Num of SAT Test Takers SAT Critical Reading Avg. Score SAT Math Avg. Score  \
0                     29                             355                 404
1                     91                             383                 423
2                     70                             377                 402
3                      7                             414                 401
4                     44                             390                 433

  SAT Writing Avg. Score
0                    363
1                    366
2                    370
3                    359
4                    384

In [6]:
all_survey = pd.read_csv("schools/survey_all.txt",delimiter="\t",encoding="windows-1252")
d75_survey = pd.read_csv("schools/survey_d75.txt",delimiter="\t",encoding="windows-1252")

survey = pd.concat([all_survey,d75_survey],axis=0)
print(survey.head())

      dbn    bn                      schoolname  d75 studentssurveyed  \
0  01M015  M015       P.S. 015 Roberto Clemente    0               No
1  01M019  M019             P.S. 019 Asher Levy    0               No
2  01M020  M020            P.S. 020 Anna Silver    0               No
3  01M034  M034  P.S. 034 Franklin D. Roosevelt    0              Yes
4  01M063  M063       P.S. 063 William McKinley    0               No

   highschool                  schooltype  rr_s  rr_t  rr_p  ...  s_q14_2  \
0         0.0           Elementary School   NaN    88    60  ...      NaN
1         0.0           Elementary School   NaN   100    60  ...      NaN
2         0.0           Elementary School   NaN    88    73  ...      NaN
3         0.0  Elementary / Middle School  89.0    73    50  ...      NaN
4         0.0           Elementary School   NaN   100    60  ...      NaN

   s_q14_3  s_q14_4  s_q14_5  s_q14_6  s_q14_7  s_q14_8  s_q14_9  s_q14_10  \
0      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN
1      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN
2      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN
3      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN
4      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN

   s_q14_11
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN

[5 rows x 2773 columns]

In [7]:
survey['DBN'] = survey['dbn']

survey_fields = [
    "DBN", 
    "rr_s", 
    "rr_t", 
    "rr_p", 
    "N_s", 
    "N_t", 
    "N_p", 
    "saf_p_11", 
    "com_p_11", 
    "eng_p_11", 
    "aca_p_11", 
    "saf_t_11", 
    "com_t_11", 
    "eng_t_11", 
    "aca_t_11", 
    "saf_s_11", 
    "com_s_11", 
    "eng_s_11", 
    "aca_s_11", 
    "saf_tot_11", 
    "com_tot_11", 
    "eng_tot_11", 
    "aca_tot_11",
]

survey = survey.loc[:,survey_fields]
data["survey"] = survey

print(survey.head())

      DBN  rr_s  rr_t  rr_p    N_s   N_t    N_p  saf_p_11  com_p_11  eng_p_11  \
0  01M015   NaN    88    60    NaN  22.0   90.0       8.5       7.6       7.5
1  01M019   NaN   100    60    NaN  34.0  161.0       8.4       7.6       7.6
2  01M020   NaN    88    73    NaN  42.0  367.0       8.9       8.3       8.3
3  01M034  89.0    73    50  145.0  29.0  151.0       8.8       8.2       8.0
4  01M063   NaN   100    60    NaN  23.0   90.0       8.7       7.9       8.1

   ...  eng_t_11  aca_t_11  saf_s_11  com_s_11  eng_s_11  aca_s_11  \
0  ...       7.6       7.9       NaN       NaN       NaN       NaN
1  ...       8.9       9.1       NaN       NaN       NaN       NaN
2  ...       6.8       7.5       NaN       NaN       NaN       NaN
3  ...       6.8       7.8       6.2       5.9       6.5       7.4
4  ...       7.8       8.1       NaN       NaN       NaN       NaN

   saf_tot_11  com_tot_11  eng_tot_11  aca_tot_11
0         8.0         7.7         7.5         7.9
1         8.5         8.1         8.2         8.4
2         8.2         7.3         7.5         8.0
3         7.3         6.7         7.1         7.9
4         8.5         7.6         7.9         8.0

[5 rows x 23 columns]

D:\anaconda\envs\dataenv\lib\site-packages\ipykernel_launcher.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  """Entry point for launching an IPython kernel.

In [8]:
data["hs_directory"]["DBN"] = data["hs_directory"]["dbn"]

def pad_csd(num):
    return str(num).zfill(2)
    
data["class_size"]["padded_csd"] = data["class_size"]["CSD"].apply(pad_csd)
data["class_size"]["DBN"] = data["class_size"]["padded_csd"] + data["class_size"]["SCHOOL CODE"]
print(data["class_size"].head())

   CSD BOROUGH SCHOOL CODE                SCHOOL NAME GRADE  PROGRAM TYPE  \
0    1       M        M015  P.S. 015 Roberto Clemente     0K       GEN ED
1    1       M        M015  P.S. 015 Roberto Clemente     0K          CTT
2    1       M        M015  P.S. 015 Roberto Clemente     01       GEN ED
3    1       M        M015  P.S. 015 Roberto Clemente     01          CTT
4    1       M        M015  P.S. 015 Roberto Clemente     02       GEN ED

  CORE SUBJECT (MS CORE and 9-12 ONLY) CORE COURSE (MS CORE and 9-12 ONLY)  \
0                                    -                                   -
1                                    -                                   -
2                                    -                                   -
3                                    -                                   -
4                                    -                                   -

  SERVICE CATEGORY(K-9* ONLY)  NUMBER OF STUDENTS / SEATS FILLED  \
0                           -                               19.0
1                           -                               21.0
2                           -                               17.0
3                           -                               17.0
4                           -                               15.0

   NUMBER OF SECTIONS  AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  \
0                 1.0                19.0                    19.0
1                 1.0                21.0                    21.0
2                 1.0                17.0                    17.0
3                 1.0                17.0                    17.0
4                 1.0                15.0                    15.0

   SIZE OF LARGEST CLASS DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO  \
0                   19.0         ATS                             NaN
1                   21.0         ATS                             NaN
2                   17.0         ATS                             NaN
3                   17.0         ATS                             NaN
4                   15.0         ATS                             NaN

  padded_csd     DBN
0         01  01M015
1         01  01M015
2         01  01M015
3         01  01M015
4         01  01M015

In [9]:
cols = ['SAT Math Avg. Score', 'SAT Critical Reading Avg. Score', 'SAT Writing Avg. Score']
for c in cols:
    data["sat_results"][c] = pd.to_numeric(data["sat_results"][c], errors="coerce")

data['sat_results']['sat_score'] = data['sat_results'][cols[0]] + data['sat_results'][cols[1]] + data['sat_results'][cols[2]]
print(data['sat_results']['sat_score'].head())

0    1122.0
1    1172.0
2    1149.0
3    1174.0
4    1207.0
Name: sat_score, dtype: float64

In [10]:
import re

def find_lat(loc):
    coords = re.findall("\(.+\)", loc)
    lat = coords[0].split(",")[0].replace("(","")
    return lat

data["hs_directory"]["lat"] = data["hs_directory"]["Location 1"].apply(find_lat)

print(data["hs_directory"].head())

      dbn                                        school_name    borough  \
0  27Q260          Frederick Douglass Academy VI High School     Queens
1  21K559        Life Academy High School for Film and Music   Brooklyn
2  16K393     Frederick Douglass Academy IV Secondary School   Brooklyn
3  08X305                               Pablo Neruda Academy      Bronx
4  03M485  Fiorello H. LaGuardia High School of Music & A...  Manhattan

  building_code  phone_number    fax_number  grade_span_min  grade_span_max  \
0          Q465  718-471-2154  718-471-2890             9.0              12
1          K400  718-333-7750  718-333-7775             9.0              12
2          K026  718-574-2820  718-574-2821             9.0              12
3          X450  718-824-1682  718-824-1663             9.0              12
4          M485  212-496-0700  212-724-5748             9.0              12

   expgrade_span_min  expgrade_span_max  ... priority10  \
0                NaN                NaN  ...        NaN
1                NaN                NaN  ...        NaN
2                NaN                NaN  ...        NaN
3                NaN                NaN  ...        NaN
4                NaN                NaN  ...        NaN

                                          Location 1 Community Board  \
0  8 21 Bay 25 Street\nFar Rockaway, NY 11691\n(4...            14.0
1  2630 Benson Avenue\nBrooklyn, NY 11214\n(40.59...            13.0
2  1014 Lafayette Avenue\nBrooklyn, NY 11221\n(40...             3.0
3  1980 Lafayette Avenue\nBronx, NY 10473\n(40.82...             9.0
4  100 Amsterdam Avenue\nNew York, NY 10023\n(40....             7.0

  Council District Census Tract        BIN           BBL  \
0             31.0     100802.0  4300730.0  4.157360e+09
1             47.0        306.0  3186454.0  3.068830e+09
2             36.0        291.0  3393805.0  3.016160e+09
3             18.0         16.0  2022205.0  2.036040e+09
4              6.0        151.0  1030341.0  1.011560e+09

                                                 NTA     DBN           lat
0  Far Rockaway-Bayswater                        ...  27Q260  40.601989336
1  Gravesend                                     ...  21K559  40.593593811
2  Stuyvesant Heights                            ...  16K393  40.692133704
3  Soundview-Castle Hill-Clason Point-Harding Par...  08X305  40.822303765
4  Lincoln Square                                ...  03M485  40.773670507

[5 rows x 66 columns]

In [11]:
import re
def find_lon(loc):
    coords = re.findall("\(.+\)", loc)
    lon = coords[0].split(",")[1].replace(")", "").strip()
    return lon

data["hs_directory"]["lon"] = data["hs_directory"]["Location 1"].apply(find_lon)

data["hs_directory"]["lat"] = pd.to_numeric(data["hs_directory"]["lat"], errors="coerce")
data["hs_directory"]["lon"] = pd.to_numeric(data["hs_directory"]["lon"], errors="coerce")

print(data["hs_directory"].head())

      dbn                                        school_name    borough  \
0  27Q260          Frederick Douglass Academy VI High School     Queens
1  21K559        Life Academy High School for Film and Music   Brooklyn
2  16K393     Frederick Douglass Academy IV Secondary School   Brooklyn
3  08X305                               Pablo Neruda Academy      Bronx
4  03M485  Fiorello H. LaGuardia High School of Music & A...  Manhattan

  building_code  phone_number    fax_number  grade_span_min  grade_span_max  \
0          Q465  718-471-2154  718-471-2890             9.0              12
1          K400  718-333-7750  718-333-7775             9.0              12
2          K026  718-574-2820  718-574-2821             9.0              12
3          X450  718-824-1682  718-824-1663             9.0              12
4          M485  212-496-0700  212-724-5748             9.0              12

   expgrade_span_min  expgrade_span_max  ...  \
0                NaN                NaN  ...
1                NaN                NaN  ...
2                NaN                NaN  ...
3                NaN                NaN  ...
4                NaN                NaN  ...

                                          Location 1 Community Board  \
0  8 21 Bay 25 Street\nFar Rockaway, NY 11691\n(4...            14.0
1  2630 Benson Avenue\nBrooklyn, NY 11214\n(40.59...            13.0
2  1014 Lafayette Avenue\nBrooklyn, NY 11221\n(40...             3.0
3  1980 Lafayette Avenue\nBronx, NY 10473\n(40.82...             9.0
4  100 Amsterdam Avenue\nNew York, NY 10023\n(40....             7.0

  Council District Census Tract        BIN           BBL  \
0             31.0     100802.0  4300730.0  4.157360e+09
1             47.0        306.0  3186454.0  3.068830e+09
2             36.0        291.0  3393805.0  3.016160e+09
3             18.0         16.0  2022205.0  2.036040e+09
4              6.0        151.0  1030341.0  1.011560e+09

                                                 NTA     DBN        lat  \
0  Far Rockaway-Bayswater                        ...  27Q260  40.601989
1  Gravesend                                     ...  21K559  40.593594
2  Stuyvesant Heights                            ...  16K393  40.692134
3  Soundview-Castle Hill-Clason Point-Harding Par...  08X305  40.822304
4  Lincoln Square                                ...  03M485  40.773671

         lon
0 -73.762834
1 -73.984729
2 -73.931503
3 -73.855961
4 -73.985269

[5 rows x 67 columns]

In [12]:
class_size = data["class_size"]
class_size = class_size[class_size["GRADE "] == "09-12"]
class_size = class_size[class_size["PROGRAM TYPE"] == "GEN ED"]
print(class_size.head())

     CSD BOROUGH SCHOOL CODE                                    SCHOOL NAME  \
225    1       M        M292  Henry Street School for International Studies
226    1       M        M292  Henry Street School for International Studies
227    1       M        M292  Henry Street School for International Studies
228    1       M        M292  Henry Street School for International Studies
229    1       M        M292  Henry Street School for International Studies

    GRADE  PROGRAM TYPE CORE SUBJECT (MS CORE and 9-12 ONLY)  \
225  09-12       GEN ED                              ENGLISH
226  09-12       GEN ED                              ENGLISH
227  09-12       GEN ED                              ENGLISH
228  09-12       GEN ED                              ENGLISH
229  09-12       GEN ED                                 MATH

    CORE COURSE (MS CORE and 9-12 ONLY) SERVICE CATEGORY(K-9* ONLY)  \
225                           English 9                           -
226                          English 10                           -
227                          English 11                           -
228                          English 12                           -
229                  Integrated Algebra                           -

     NUMBER OF STUDENTS / SEATS FILLED  NUMBER OF SECTIONS  \
225                               63.0                 3.0
226                               79.0                 3.0
227                               38.0                 2.0
228                               69.0                 3.0
229                               53.0                 3.0

     AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  SIZE OF LARGEST CLASS  \
225                21.0                    19.0                   25.0
226                26.3                    24.0                   31.0
227                19.0                    16.0                   22.0
228                23.0                    13.0                   30.0
229                17.7                    16.0                   21.0

    DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO padded_csd     DBN
225       STARS                             NaN         01  01M292
226       STARS                             NaN         01  01M292
227       STARS                             NaN         01  01M292
228       STARS                             NaN         01  01M292
229       STARS                             NaN         01  01M292

In [14]:
class_size = class_size.groupby("DBN").agg(np.mean)
class_size.reset_index(inplace=True)
data["class_size"] = class_size
print(data["class_size"].head())

      DBN  CSD  NUMBER OF STUDENTS / SEATS FILLED  NUMBER OF SECTIONS  \
0  01M292  1.0                            88.0000            4.000000
1  01M332  1.0                            46.0000            2.000000
2  01M378  1.0                            33.0000            1.000000
3  01M448  1.0                           105.6875            4.750000
4  01M450  1.0                            57.6000            2.733333

   AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  SIZE OF LARGEST CLASS  \
0           22.564286                   18.50              26.571429
1           22.000000                   21.00              23.500000
2           33.000000                   33.00              33.000000
3           22.231250                   18.25              27.062500
4           21.200000                   19.40              22.866667

   SCHOOLWIDE PUPIL-TEACHER RATIO
0                             NaN
1                             NaN
2                             NaN
3                             NaN
4                             NaN